extends ../layout

block content
  h2 contact me
  p Email me at contact@ian-wright.me, or use the form below.
  form(action='/contact' method='post' style='margin-top: 15px;')
    fieldset
      label(for='name') name: 
      input(id='name' name='name' type='text' placeholder='Your name' required='required')
      br
      label(for='email') email: 
      input(id='email' name='email' type='text' placeholder='Your email address' 
        required='required')
      br
      label(for='message') message: 
      textarea(id='message' name='message' rows='20' placeholder='Type your message here'
        required='required')
      br
      div(id='buttonWrapper' style='text-align: center;')
        button(type='submit') Submit
