extends ../layout

block content
  h2 Conway's Game of Life
  p
    | Life is cellular automaton devised by the mathematician John Conway in the 1970s. The game 
    | is 'played' on a two-dimensional grid, where each individual cell is either #[em alive] or 
    | #[em dead]. As the game moves from one generation to the next (i.e. each time the grid is 
    | redrawn), each cell interacts with its neighboring cells: a living cell with less than two 
    | living neighbors will die (due to underpopulation), a living cell with two or three living 
    | neighbors survives to the next generation, and a living cell with more than three living 
    | neighbors will die (due to overpopulation). Additionally, dead cells with exactly three 
    | living neighbors will subsequently become live cells (due to reproduction). In my own 
    | implementation, the game cells are randomly seeded with values at the beginning, and all 
    | subsequent activity plays out according to the aforementioned rules.
  form(onsubmit='launch();return false')
    table
      tr
        td Cell size
        td #[input(type='number' min='1' value='2' id='cellSize')]
      tr
        td Cell color
        td #[input(class='jscolor' value='000000' id='cellColor')]
      tr
        td Background color
        td #[input(class='jscolor' value='FFFFFF' id='bgColor')]
      tr
        td Game width
        td #[input(type='number' min='10' value='800' id='areaWidth')]
      tr
        td Game height
        td #[input(type='number' min='10' value='600' id='areaHeight')]
      tr
        td Refresh (milliseconds; lower is faster)
        td #[input(type='number' min='1' value='50' id='gameInterval')]
      tr
        td(colspan='2') #[input(type='submit' value='Begin Life')]
  script(src='/javascripts/conway.js')
  script(src='/javascripts/jscolor.js')
