extends ../layout

block content
  h2 Conway's Game of Life
  p 
    | The classic cellular automaton. I made this as an exercise to get more familiar with 
    | JavaScript. Description and rules 
    | #[a(href='https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life') here].
  form(onsubmit='launch();return false')
    table
      tr
        td Cell size
        td #[input(type='number' min='1' value='2' id='cellSize')]
      tr
        td Cell color
        td #[input(class='jscolor' value='000000' id='cellColor')]
      tr
        td Background color
        td #[input(class='jscolor' value='FFFFFF' id='bgColor')]
      tr
        td Game width
        td #[input(type='number' min='10' value='800' id='areaWidth')]
      tr
        td Game height
        td #[input(type='number' min='10' value='600' id='areaHeight')]
      tr
        td Refresh (milliseconds; lower is faster)
        td #[input(type='number' min='1' value='50' id='gameInterval')]
      tr
        td(colspan='2') #[input(type='submit' value='Begin Life')]
  script(src='/javascripts/conway.js')
  script(src='/javascripts/jscolor.js')
