extends layout

block content
  h2 about me
  p I'm currently a senior Computer Science student at Penn State Harrisburg. I like black coffee and ambient music.
  table
    tr
      td #[strong education]
      td
        p
          | B.S. Computer Science (in progress, anticipated December 2018)
          br
          | Penn State Harrisburg, Middletown, PA
    tr
      td #[strong skills]
      td
        ul
          li
            strong software 
            | Vim, Android Studio, Visual Studio
          li
            strong languages 
            | Java, JavaScript, HTML, CSS, XML, SQL, C++
          li
            strong etc
            | Node.js, Express, MongoDB, JavaFX, Pug
    tr
      td #[strong projects]
      td see #[a(href='https://ian-wright.me/portfolio') portfolio]
    tr
      td #[strong github]
      td #[a(href='https://github.com/ns-ian') click here]

  p To request a detailed work history or professional references, please #[a(href='/contact') contact me].

  h2(id='about-site-heading') about this site
  p
    | This site is hosted on AWS with Ubuntu + Node.js.#[br]
    | AWS tools/services used include Lightsail, Route 53, SES, S3, and Lambda.
