extends layout

block content
  ul
    li(style='margin-bottom: 15px;')
      | #[a(href='/fun/conway' style='font-size: 1.2em;') Conway's Game of Life]
      | #[br] The classic cellular automaton. JavaScript + HTML5 Canvas.
