extends layout

block content
  p
    h2 #[a(href='/fun/conway') Conway's Game of Life]
    | The classic cellular automaton. JavaScript + HTML5 Canvas.
  br
  p
    h2 #[a(href='/fun/smb2') Super Mega Baseball 2 stat calculator]
    | SMB2 has no stat restrictions for custom teams, so we made our own.
