extends layout

block content
  p
    a(href='/fun/conway' style='font-size: 1.5em;') Conway's Game of Life
    | The classic cellular automaton. JavaScript + HTML5 Canvas.
  br
  p
    a(href='/fun/smb2' style='font-size: 1.5em;') Super Mega Baseball 2 stat calculator
    | SMB2 has no stat restrictions for custom teams, so we made our own.
