extends layout

block content
  h2 welcome
  p 
    | Hi, I'm Ian, a Computer Science student at Penn State, and an up-and-coming developer. I've 
    | created this site to share my opinions, experiences, and personal projects for anyone 
    | who might be interested. I also just like the idea of publishing to the web, and web 
    | development has long been an interest of mine, so this site itself is an exercise/project 
    | all its own. If you're interested in hiring me, take a look around, and be sure to check 
    | out my #[a(href='https://github.com/ns-ian') GitHub page] for samples of my code. Thanks! :)
  pre Test
