extends layout

block content
  h2 welcome
  p 
    | When I was first starting out in a *nix environment a few years ago, I had a difficult time finding the right creature comforts for me. The wide open space of desktop environments, window managers, file managers, and so on were exciting to experiment with, but none felt as personal to me as the right choice of music player. I had long been frustrated with the popular software available on Windows (at the time of this post, I think MusicBee is probably your best bet), and the larger projects aimed at Linux users carried the usual grievances: using too many resources, slow to start up, sneakily altering metadata, and offering a surplus of features that I'll never use. I put up with Rhythmbox for quite a while, but as I got more comfortable with using the terminal and vim, I began using cmus (short for C* Music Player), which I've come to love.
