extends layout

block content
  h2 portfolio
  p Here are some of the projects I've been involved in so far:

  h3 ian-wright.me website
  p
    | #[strong when:] 2018-present#[br]
    | #[strong role:] Designer, Server Administrator, Database Administrator, Full-Stack Developer#[br]
    | #[strong skillset:] Node.js, Express, Pug, MongoDB, LESS#[br]
    | #[strong description:] My personal website is part of an ongoing effort to hone my skills in 
    | full stack web development. So far, I've learned the basics of Node and Express, HTML 
    | templating with Pug (formerly Jade), administrating a small MongoDB setup on the server side, 
    | and the MVC design paradigm. This site currently serves as a host for my resume, blog, and a 
    | small showcase of pet projects and tools. The source is publicly available over at my 
    | #[a(href='https://github.com/ns-ian/ian-website') GitHub] page.

  h3 pennychain
  p
    | #[strong when:] January-May 2018#[br]
    | #[strong role:] UI Developer, user asset management#[br]
    | #[strong skillset:] Java, JavaFX, MongoDB#[br]
    | #[strong description:] PennyChain is a distribution resource optimizer, designed for Penn 
    | State's 2018 Capstone Design Project. It is a desktop application aimed at assisting 
    | business entities in determining the optimal placement for new warehouses and distribution 
    | centers. The application uses Google Maps, scraped US Census data, and a grid overlay to 
    | calculate where a distribution center would be best constructed with regard to surrounding 
    | population, demographics, fuel cost, etc. My role in the project focused on developing the 
    | UI and handling user assets (creation and storage of user profile information, remote 
    | storage of map data, user to user sharing of map data, and (de)serialization of map data 
    | for local storage) The project homepage is located 
    | #[a(href='https://turing.cs.hbg.psu.edu/~sja5544/pennyChain_main.html') here].

