body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2F3536;
  background-color: #FFFFFF;
}

//Text attributes
h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

a {
  color: #2F3536;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

pre {
  background-color: #EFF0F1;
  display: block;
  white-space: pre;
  overflow-x: auto;
}

.title-text {
  font-size: 3em;
  margin-bottom: 15px;
}

.title-text a img {
  vertical-align: middle;
  margin-left: 10px;
}

//Tables
table {
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 10px;
}

td {
  vertical-align: top;
}

//Forms
form {
  white-space: nowrap;
}

form fieldset {
  width: inherit;
  border: none;
}

form fieldset textarea {
  width: 80%;
  margin-bottom: 15px;
}

form fieldset label {
  float: left;
  text-align: right;
  width: 20%;
  padding-right: 5px;
}

form fieldset input {
  margin-bottom: 15px;
}

//Layout attributes
.container {
  width: 60%;
  margin: auto;
}

.topbar {
  border-bottom: thin solid black;
  margin-bottom: 15px;
  margin-top: 100px;
}

.body {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 20%;
}

.content {
  width: 80%;
  margin: 0;
  padding: 0;
}

//Individual IDs
#about-site-heading {
  margin-top: 20px;
}

#linkedin {
  float: right;
}

#github {
  float: right;
}
