extends ../layout

block content
  ul
    each item in post
      li(style="margin-bottom: 15px;")
        a(href=item.url) #{item.title}
        | #[br] #{item.caption}

    else
      li error loading content
